.CartItem {
    margin: 1px;
    border: solid 1px black;
    padding: 1em;
}

.CartItem a {
  text-decoration: none;
}

.CartItem-Name {
    font-weight: bold;
}

.CartItem-Button {
    margin: 1px;
}
